*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(image.png);
    
    
    

    
}


div{
    display: flex;
    
    position: relative;
    align-items: center;
    margin: auto;
    margin-top: auto;
    justify-content: center;
    box-shadow: grey;
    width: 400px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    height: 800px;

}



a{
    width: 300px;
    height: 50px;
    background: rgb(0, 204, 255);
    margin: 0;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 20px blue;
    font-size: xx-large;
    text-shadow: 2px 2px 20px black;
    
}
.box{
    width: 300px;
    height: 300px;
    

}

.conatiner{
    width: 100vw;
    height: 100vh;
    background: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


footer {
	
	color: #fff;
	padding: 50px;
	text-align: center;
	margin-top: 50px;
    height: 20px;
    background: white;
    color: grey;
    
    
}

  
  img{
    
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  h1{
    text-align: center;
    justify-content: center;
    width: auto;
    font-size: 50px;
    color: white;
    font-family: fantasy;
    font-weight: 100;
    margin: 4px;
    background-color: rgb(55, 118, 255);
    height: 100px;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  input{
    width: 200px;
    font-size: large;
    border-radius: 10px;
    margin: 7px;
    height: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }

 a{
    color: rgb(68, 68, 243);
}

.cu{
    width: 250px;
    height: 50px;
    background: rgb(240, 240, 240);
    margin: 5px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-align: center;

}